<div
  class="main-card mb-3 card"
  *ngFor="let semesterFee of this.semestersFee.semestersFee; let i =index">
  <div class="card-body" style="overflow: hidden; overflow-x: scroll">
    <h5 class="card-title">Semester {{i}}</h5>
    <hr>
    <table class="mb-0 table table-bordered">
      <thead class="bg-light">
      <tr>
        <th>No</th>
        <th>Challan-No</th>
        <th>ScholarShip-%</th>
        <th>Admission-Fee</th>
        <th>Tuition-Fee</th>
        <th>Fine</th>
        <th>Tax</th>
        <th>Payable Fee</th>
        <th>Due-Date</th>
        <th>Paid-Date</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row ">{{i}}</th>
        <td style="min-width: 100px">{{semesterFee.challanNo}}</td>
        <td style="min-width: 120px">{{semesterFee.scholarShip}}</td>
        <td style="min-width: 120px">{{semesterFee.addmissionFee}}</td>
        <td style="min-width: 100px">{{semesterFee.tutionFee}}</td>
        <td style="min-width: 100px">{{semesterFee.fine}}</td>
        <td style="min-width: 100px">{{semesterFee.tax}}</td>
        <td style="min-width: 100px">{{semesterFee.payableFee}}</td>
        <td style="min-width: 100px">{{semesterFee.dueDate}}</td>
        <td style="min-width: 100px">{{semesterFee.paidDate}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="text-center d-block p-3 card-footer">
    <button class="btn-shadow btn-wide fsize-1 btn btn-primary float-right">
                                    <span class="mr-2 opacity-7">
                                        <i class="fa fa-download"></i>
                                    </span>
      <span class="mr-1">Download Challan</span>
    </button>
  </div>
</div>

