.card {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
  font-size: .8rem;
}

.card-header {
  text-transform: uppercase;
  color: rgba(13, 27, 62, 0.7);
  font-weight: bold;
  background-color: white;

  display: flex;
  align-items: center;
  border-bottom-width: 1px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: .625rem;
  height: 3.5rem;
}
.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
  -ms-flex: 1 1 auto;
  min-height: 1px;
}
.card-footer {
  background-color: white;
  text-transform: uppercase;
  color: rgba(13, 27, 62, 0.7);
  font-weight: bold;
}
