
.card {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.card-header {
  text-transform: uppercase;
  color: rgba(13, 27, 62, 0.7);
  font-weight: bold;
  font-size: .7rem;
  background-color: white;

  display: flex;
  align-items: center;
  border-bottom-width: 1px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: .625rem;
  height: 3.5rem;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
  -ms-flex: 1 1 auto;
  min-height: 1px;
  font-size: .8rem;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}

.table-bordered {
  border: 1px solid #adafb2;
}

.card-footer {
  background-color: white;
}

tbody.custom-hover > tr:hover {
  background-color: #E0F3FF;
  transition: .2s;
}

/*For arrow icon rotation when links are clicked*/
a.collapsed > img.collapse-arrow {
  transition: .3s transform ease-in-out;
  transform: rotate(0deg);
}

a > img.collapse-arrow {
  transition: .3s transform ease-in-out;
  transform: rotate(-180deg);
}

div.card-body > div > a.text-dark{
  text-decoration: none;
}

@media (max-width: 992px) {
  .card-header{
    font-size: .7rem;
  }
  .card-body {
    font-size: .6rem;
  }
}

