<div class="card shadow">
  <div class="card-header mb-4 text-responsive">
    GradeBook
  </div>
  <div class="card-body pl-4">
    <div>
      <a class="text-dark collapsed" data-toggle="collapse" href="#collapseExample-1" role="button"
         aria-expanded="false"
         aria-controls="collapseExample">
        Assignments
        <img src="../../../assets/images/arrow-down.svg" class="collapse-arrow" style="width: 1rem; height: 1rem"
             alt="">
        <span class="badge badge-dark">30%</span>
      </a>
      <hr>
      <div class="collapse" id="collapseExample-1">
        <div class="card card-body">
          <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
              <thead>
              <tr>
                <th>Name</th>
                <th>Total Marks</th>
                <th>Obtain Marks</th>
              </tr>
              </thead>
              <tbody>
              <tr
                *ngFor="let gradeType of this.gradebook.assignments;">
                <td>{{gradeType.gradeType}}</td>
                <td>{{gradeType.totalMarks}}</td>
                <td>{{gradeType.obtainedMarks}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div>
      <a class="text-dark collapsed" data-toggle="collapse" href="#collapseExample-2" role="button"
         aria-expanded="false"
         aria-controls="collapseExample">
        Quizes
        <img src="../../../assets/images/arrow-down.svg" class="collapse-arrow" style="width: 1rem; height: 1rem"
             alt="">
        <span class="badge badge-dark">5%</span>
      </a>
      <hr>
      <div class="collapse" id="collapseExample-2">
        <div class="card card-body">
          <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
              <thead>
              <tr>
                <th>Date</th>
                <th>Total Marks</th>
                <th>Obtain Marks</th>
              </tr>
              </thead>
              <tbody>
              <tr
                *ngFor="let gradeType of this.gradebook.quizes;">
                <td>{{gradeType.gradeType}}</td>
                <td>{{gradeType.totalMarks}}</td>
                <td>{{gradeType.obtainedMarks}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div>
      <a class="text-dark collapsed" data-toggle="collapse" href="#collapseExample-3" role="button"
         aria-expanded="false"
         aria-controls="collapseExample">
        Mid-term
        <img src="../../../assets/images/arrow-down.svg" class="collapse-arrow" style="width: 1rem; height: 1rem"
             alt="">
        <span class="badge badge-dark">15%</span>
      </a>
      <hr>
      <div class="collapse" id="collapseExample-3">
        <div class="card card-body">
          <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
              <thead>
              <tr>
                <th>Date</th>
                <th>Total Marks</th>
                <th>Obtain Marks</th>
              </tr>
              </thead>
              <tbody>
              <tr>
<!--                *ngFor="let gradeType of this.gradebook.midTerm;">-->
                <td>Mid Term</td>
                <td>{{this.midtermTotalMarks}}</td>
                <td>{{this.midtermObtMarks}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div>
      <a class="text-dark collapsed" data-toggle="collapse" href="#collapseExample-4" role="button"
         aria-expanded="false"
         aria-controls="collapseExample">
        Final-term
        <img src="../../../assets/images/arrow-down.svg" class="collapse-arrow" style="width: 1rem; height: 1rem"
             alt="">
        <span class="badge badge-dark">35%</span>
      </a>
      <hr>
      <div class="collapse" id="collapseExample-4">
        <div class="card card-body">
          <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
              <thead>
              <tr>
                <th>Date</th>
                <th>Total Marks</th>
                <th>Obtain Marks</th>
              </tr>
              </thead>
              <tbody>
              <tr>
<!--                *ngFor="let gradeType of this.finalTermMarks;">-->
                <td>Final Term</td>
                <td>{{this.finaltermTotalMarks}}</td>
                <td>{{this.finaltermObtMarks}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div>
      <a class="text-dark collapsed" data-toggle="collapse" href="#collapseExample-5" role="button"
         aria-expanded="false"
         aria-controls="collapseExample">
        Class-Activity
        <img src="../../../assets/images/arrow-down.svg" class="collapse-arrow" style="width: 1rem; height: 1rem"
             alt="">
        <span class="badge badge-dark">5%</span>

      </a>
      <hr>
      <div class="collapse" id="collapseExample-5">
        <div class="card card-body">
          <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
              <thead>
              <tr>
                <th>Date</th>
                <th>Total Marks</th>
                <th>Obtain Marks</th>
              </tr>
              </thead>
              <tbody>
              <tr
                *ngFor="let gradeType of this.gradebook.classActivity;">
                <td>{{gradeType.gradeType}}</td>
                <td>{{gradeType.totalMarks}}</td>
                <td>{{gradeType.obtainedMarks}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
