<div class="card">
  <div class="card-header">Announcements</div>
  <div class="card-body p-1 d-flex">
    <div class="sidebar hide-sidebar bg-light">
      <div class="list-group">
        <div
          class="pb-1 d-flex justify-content-between"
          *ngFor="let announcement of this.announcements;">
          <div class="p-1 bg-danger"></div>
          <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <b class="mb-1">{{announcement.announcementTitle}}</b>
              <small>just now</small>
            </div>
          </a>
        </div>
      </div>
    </div>
    <a id="toggler" class="ml-1">
      <img class="border p-1" src="../../../assets/hamburger.png" alt="none">
    </a>
    <div id="details" class="">
      <div *ngFor="let an of announcements">
        <p class="text-info">{{an.announcementDate}}</p>
        <p>{{an.announcementDescription}}</p>
      </div>
    </div>
  </div>
</div>

