
.card-header {
  text-transform: uppercase;
  color: rgba(13, 27, 62, 0.7);
  font-weight: bold;
  font-size: .7rem;
  background-color: white;

  display: flex;
  align-items: center;
  border-bottom-width: 1px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: .625rem;
  height: 3.5rem;
}


x.image-mx-size {
  max-width: 10px;
  max-height: 10px;
}

#toggler > img {
  width: 30px;
  height: 30px;
  border-radius: 5px 5px 5px 5px;
}

#toggler > img:hover {
  background-color: #c8c3cd;
  transition: .3s;
  border-radius: 5px 5px 5px 5px;
}


.sidebar {
  left: 0;
  min-width: 220px;
  max-width: 220px;
  min-height: 100%;
  transition: .4s ease-in-out;
  z-index: 1;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
  -ms-flex: 1 1 auto;
  font-size: .8rem;
  overflow: hidden;
  height: 30rem;
}


.list-group {
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  border-top: 1px solid #d1d1d1;
}


/*============================================*/


#details {
  max-height: 50rem;
  overflow: hidden;
  overflow-y: scroll;
  margin-top: 40px;
  width: 100%;
}

.sidebar {
  height: 100%;
}

#toggler{
  width: 30px;
  height: 30px;
}

@media (max-width: 992px) {
  #details {
    position: absolute;
    margin-left: 0;
    margin-top: 40px;
    padding-left: 10px;
    padding-bottom: 40px;
    height: 85%;
  }
}

.hide-sidebar {
  margin-left: -222px;
}
