<div class="container p-2">
  <div class="card shadow">
    <div class="card-header text-responsive">
      Previous Courses
    </div>
    <div class="card-body pt-0">
      <div class="table-responsive">
        <div
          *ngFor="let previousSemester of this.semesterPreviousCourses;">
          <div class="card-header p-0">
            Semester-{{previousSemester.semesterNo}}
          </div>
          <div class="card-body p-0">
            <table class="table table-bordered">
              <thead class="bg-light">
              <tr>
                <th>Courses</th>
                <th>Course-Code</th>
              </tr>
              </thead>
              <tbody>
              <tr
                *ngFor="let semesterCourses of previousSemester.semesterCourses;">
                <td><a (click)="OnCourseClicked()">{{semesterCourses.courseTitle}}</a></td>
                <td><a (click)="OnCourseClicked()">{{semesterCourses.courseCode}}</a></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
