.lift-animation{
  box-shadow: 1px 1px 2px grey;
}
.lift-animation:hover{
  box-shadow: 3px 3px 5px grey;
  transition: .2s;
}
@media (max-width: 992px) {
  form{
    font-size: .7rem;
  }
  form > button.lift-animation > small{
    font-size: .7rem;
  }
}
