<div class="p-3 mt-4">
  <div class="row">
    <div class="col-sm-12 col-lg-12">
      <form #formAskQ="ngForm" (ngSubmit)="OnSubmit(formAskQ)">
        <div class="form-group">
          <label for="InputTo" class="text-bold">To</label>
          <input type="text"
                 class="form-control shadow-sm"
                 name="InputTo"
                 id="InputTo"
                 ngModel
                 placeholder="">
        </div>
        <div class="form-group">
          <label for="InputSubject" class="text-bold">Subject</label>
          <input type="text"
                 class="form-control shadow-sm"
                 name="InputSubject"
                 id="InputSubject"
                 ngModel
                 placeholder="">
        </div>
        <div class="form-group">
          <label for="InputMessage">Message</label>
          <textarea type="text"
                    class="form-control shadow-sm"
                    name="InputMessage"
                    id="InputMessage"
                    ngModel
                    rows="5"></textarea>
        </div>
        <button class="btn btn-primary lift-animation" type="submit"><small>Ask Question</small></button>
      </form>
    </div>
  </div>
</div>
