<div class="container">
  <div class="row mt-2">
    <div class="col-sm-12">
      <div class="card shadow">
        <div class="card-header shadow-sm  d-flex justify-content-between">Absent Status</div>
        <div class="card-body mb-3" style="height: 15rem;overflow: hidden;overflow-y: scroll">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>Absent #</th>
              <th>Date</th>
            </tr>
            </thead>
            <tbody>
            <tr
              *ngFor="let absenttee of this.absenttee;">
              <td scope="row">1</td>
              <td>{{absenttee.date}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer d-flex justify-content-between ml-1 mr-1">
          <div>Presents: {{this.present}}</div>
          <div>Absents: {{this.absent}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
