.card {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.card-header {
  text-transform: uppercase;
  color: rgba(13, 27, 62, 0.7);
  font-weight: bold;
  font-size: .88rem;
  background-color: white;

  display: flex;
  align-items: center;
  border-bottom-width: 1px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: .625rem;
  height: 3.5rem;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
  -ms-flex: 1 1 auto;
  min-height: 1px;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}

.table-bordered {
  border: 1px solid #adafb2;
}

.card-footer {
  background-color: white;
}

.fix-size {
  width: 50px;
  height: 70px;
}

th {
  background-color: #e9ecef;
}
