<div class="card shadow">
  <div class="card-header">Course Outline</div>
  <div class="card-body">
    <b>Course Req:</b>
    {{this.courseOutline.courseReq}}
    <hr>

    <b>Objective : </b>
    <ul>Course Goals are following
      <br>
      <br>
      <li
        *ngFor="let objective of this.courseOutline.objective;">
        {{objective}}
      </li>
    </ul>
    <hr>

    <b>Course Description:</b><br><br>
    Following the course description
    <hr>
    <b>More Info</b>
    <hr>
    <b>Recommended Reference Books</b><br>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Auther</th>
        <th scope="col">Edition</th>
      </tr>
      </thead>
      <tbody>
      <tr
        *ngFor="let referenceBook of this.courseOutline.referenceBooks; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{referenceBook.title}}</td>
        <td>{{referenceBook.auther}}</td>
        <td>{{referenceBook.edition}}</td>
      </tr>
      </tbody>
    </table>
    <hr>
    <b>Assessment and Evaluation</b><br>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col">Exam type</th>
        <th scope="col">Percentage %</th>
        <th scope="col">Consider Top</th>
      </tr>
      </thead>
      <tbody>
      <tr
        *ngFor="let examType of this.courseOutline.assessmentAndEvaluation;">
        <th scope="row">{{examType.examType}}</th>
        <td>{{examType.percentage}}</td>
        <td>Take Average of All</td>
      </tr>
      </tbody>
    </table>
    <hr>
    <b>Calender of Activities</b>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Week No</th>
        <th>Week Contents</th>
        <th>Activity</th>
      </tr>
      </thead>
      <tbody>
      <tr
        *ngFor="let weekcontent of this.courseOutline.weekContent; let i=index">
        <td>{{i+1}}</td>
        <td>{{weekcontent}}</td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

