<!--<div class="tabs-animation">-->
<!--  <div class="row">-->
<!--    <div class="col-sm-12 p-3">-->
<!--      <style>-->
<!--        .special .btn:hover {-->
<!--          transition: .2s;-->
<!--          background-color: black;-->
<!--          color: white;-->
<!--        }-->

<!--        .special .btn {-->
<!--          color: black;-->
<!--          font-family: 'Poppins', sans-serif;-->
<!--          border: 1px solid black;-->
<!--        }-->
<!--      </style>-->
<!--      <div class="btn-group flex-fill shadow mb-sm-2 special" role="group"-->
<!--           aria-label="Basic example">-->
<!--        <button type="button" class="btn btn-lg" (click)="OnAnnouncementClicked()">Announcements</button>-->
<!--        <button type="button" class="btn btn-lg" (click)="OnCourseOutlineClicked()">Course Outline</button>-->
<!--        <button type="button" class="btn btn-lg" (click)="OnCourseMaterialClicked()">Course Material</button>-->
<!--        <button type="button" class="btn btn-lg" (click)="OnSubmitAssignmentClicked()">Submit Assignments</button>-->
<!--        <button type="button" class="btn btn-lg" (click)="OnGradeBookClicked()">Grade Books</button>-->
<!--        <button type="button" class="btn btn-lg" (click)="OnLeaveStatusClicked()">Leave Status</button>-->
<!--        <button type="button" class="btn btn-lg" (click)="OnAskQuestionClicked()">Ask Questions</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="col-sm-12" style="min-height: 150rem">-->
<!--      <router-outlet></router-outlet>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="row">
  <div class="col-sm-12 mb-2">
    <nav class="navbar navbar-expand-lg navbar-light shadow"
         style="background-color: white; color: black;">

      <button class="navbar-toggler icon-anim-pulse btn-block btn-gradient-light" type="button"
              data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
        <img src="../../assets/icons8-menu.svg" alt="none">
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto custom-hover-nav">
          <style>

            ul.navbar-nav.custom-hover-nav > li {
              border-radius: 10px 10px 10px 10px;
            }

            @media (min-width: 968px) {
              ul.navbar-nav.custom-hover-nav > li:hover {
                transform: scale(1.05);
                background-color: #E0F3FF;
                transition: .2s;
              }
            }

            @media (max-width: 968px) {
              ul.navbar-nav.custom-hover-nav > li {
                padding-left: 5px;
                border-radius: 10px 10px 10px 10px;
              }

              ul.navbar-nav.custom-hover-nav > li:hover {
                transform: scale(1.01);
                background-color: #E0F3FF;
                transition: .2s;
              }

              ul.navbar-nav.custom-hover-nav > li.active {
                background-color: #E0F3FF;
              }
            }
          </style>
          <li class="nav-item">
            <a class="nav-link" (click)="OnAnnouncementClicked()">Announcement</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="OnCourseOutlineClicked()">Course Outline</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="OnCourseMaterialClicked()">Course Material</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="OnSubmitAssignmentClicked()">Submit Assignments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="OnLeaveStatusClicked()">Leave Status</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="OnGradeBookClicked()">Grade-Book</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="OnAskQuestionClicked()">Ask Questions</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<div class="row">
  <div class="col-sm-12" style="min-height: 150rem">
    <router-outlet></router-outlet>
  </div>
</div>
