<div id="main-container" class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar" [@FadeIn]>

  <div class="app-header header-shadow">
    <div class="app-header__logo">
      <div class="logo-src"></div>
      <div class="header__pane ml-auto">
        <div>
          <button id="navBarHamBtn-lg"
                  type="button"
                  class="hamburger close-sidebar-btn hamburger--elastic"
                  (click)="OnnavBarHamBtn_lgClicked()"
                  data-class="closed-sidebar">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
        </div>
      </div>
    </div>
    <div class="app-header__mobile-menu">
      <div>
        <button id="navBarHamBtn" type="button" class="hamburger hamburger--elastic mobile-toggle-nav"
                (click)="OnnavBarHamBtnClicked()">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>
    </div>
    <div class="app-header__menu">

      <div class="collapse" id="contentId">
        <div class="card" style="margin-top: 250px;margin-right: -40px;">
          <div class="card-header" style="color:white;min-width: 200px;background-color:rgba(0,105,217,0.63);">
            Teacher Name
          </div>
          <div class="card-body">
            <div>
              <button class="btn btn-link">Settings</button>
            </div>
            <div>
              <button class="btn btn-link" (click)="onShowResetForm()">Recover Password</button>
            </div>
            <div>
              <button class="btn btn-link">Logout</button>
            </div>
          </div>
        </div>
      </div>
      <span>
        <button id="app-header-mobile-menu"
                type="button"
                class="fixed btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav"
                data-toggle="collapse"
                data-target="#contentId"
                aria-expanded="false"
                aria-controls="contentId"
                (click)="OnAppHeaderMobileMenu()">
                    <span class="btn-icon-wrapper">
                        <i class="fa fa-ellipsis-v fa-w-6"></i>
                    </span>
                </button>
      </span>
    </div>
    <div id="content_mobile" class="app-header__content hider">
      <div class="app-header-left">
        <div id="heading">
          Welcome to GCU L.M.S
        </div>
      </div>
      <div class="app-header-right">
        <div class="header-btn-lg pr-0">
          <div class="widget-content p-0">
            <div class="widget-content-wrapper">
              <div class="widget-content-left">
                <div id="profile-btn" class="btn-group">
                  <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                     class="p-0 btn">
                    <img width="42" class="rounded-circle" src="../assets/images/avatars/1.jpg" alt="">
                    <i class="fa fa-angle-down ml-2 opacity-8"></i>
                  </a>
                  <ng-container *ngTemplateOutlet="id"></ng-container>
                  <ng-template #id>
                    <div tabindex="-1" role="menu" aria-hidden="true"
                         class="rm-pointers dropdown-menu-lg dropdown-menu dropdown-menu-right">
                      <div class="dropdown-menu-header">
                        <div class="dropdown-menu-header-inner bg-info">
                          <div class="menu-header-image opacity-2"
                               style="background-image: url('../../assets/images/dropdown-header/city3.jpg');"></div>
                          <div class="menu-header-content text-left">
                            <div class="widget-content p-0">
                              <div class="widget-content-wrapper">
                                <div class="widget-content-left mr-3">
                                  <img width="42" class="rounded-circle"
                                       src="../assets/images/avatars/1.jpg"
                                       alt="">
                                </div>
                                <div class="widget-content-left">
                                  <div class="widget-heading">Teacher Name
                                  </div>
                                </div>
                                <div class="widget-content-right mr-2">
                                  <button class="btn-pill btn-shadow btn-shine btn btn-focus">
                                    Logout
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="scroll-area-xs" style="height: 150px;">
                        <div class="scrollbar-container ps">
                          <ul class="nav flex-column">
                            <li class="nav-item-header nav-item">Activity</li>
                            <li class="nav-item">
                              <a href="javascript:void(0);" class="nav-link">Performance
                              </a>
                            </li>
                            <li class="nav-item">
                              <a href="javascript:void(0);" class="nav-link" (click)="onShowResetForm()">Recover
                                Password
                              </a>
                            </li>
                            <li class="nav-item-header nav-item">My Account
                            </li>
                            <li class="nav-item">
                              <a href="javascript:void(0);" class="nav-link">Settings
                              </a>
                            </li>
                            <li class="nav-item">
                              <a href="javascript:void(0);" class="nav-link">Logs
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </div>
              </div>
              <div class="widget-content-left  ml-3 header-user-info">
                <div class="widget-heading">
                  Surprise M.F
                </div>
                <div class="widget-subheading">
                  XX-BSCS-17
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="app-main">
    <div class="app-sidebar sidebar-shadow">
      <div class="app-header__logo">
        <div class="logo-src"></div>
        <div class="header__pane ml-auto">
          <div>
            <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
          </div>
        </div>
      </div>
      <div class="app-header__mobile-menu">
        <div>
          <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
          </button>
        </div>
      </div>
      <div class="app-header__menu">
        <span>
          <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
            <span class="btn-icon-wrapper">
              <i class="fa fa-ellipsis-v fa-w-6"></i>
            </span>
          </button>
        </span>
      </div>
      <div class="scrollbar-sidebar">
        <div class="app-sidebar__inner">
          <ul class="vertical-nav-menu">
            <li class="app-sidebar__heading">Menu</li>
            <li>
              <a (click)="onHomeClicked()"><i class="metismenu-icon fa fa-home active"></i>Home</a>
            </li>
            <li>
              <a (click)="OnTeacherInfoClicked()">
                <i class="metismenu-icon fa fa-calendar"></i>
                Teacher Information
                <i class="metismenu-state-icon"></i>
              </a>
            </li>
            <li class="app-sidebar__heading">Student Actions</li>
            <li tabindex="0" autoCloseItem id="menu-list-1" class="menu-list"
                (click)="OnShowMenuListItem('menu-list-1')">
              <a>
                <i class="metismenu-icon fa fa-user-graduate"></i>
                Mark Assessment
                <i class="metismenu-state-icon pe-7s-angle-down fa fa-caret-down"></i>
              </a>
              <ul class="mm-collapse">
                <li>
                  <a (click)="OnAssignmentClicked()">
                    <i class="metismenu-icon"></i>
                    Assignment
                  </a>
                </li>
                <li>
                  <a (click)="OnProjectsClicked()">
                    <i class="metismenu-icon"></i>
                    Project
                  </a>
                </li>
                <li>
                  <a (click)="OnPresentationClicked()">
                    <i class="metismenu-icon"></i>
                    Presentation
                  </a>
                </li>
                <li>
                  <a (click)="OnLabClicked()">
                    <i class="metismenu-icon"></i>
                    Lab
                  </a>
                </li>
                <li>
                  <a (click)="OnMidTermClicked()">
                    <i class="metismenu-icon"></i>
                    Mid-Term
                  </a>
                </li>
                <li>
                  <a (click)="OnFinalTermClicked()">
                    <i class="metismenu-icon"></i>
                    Final-Term
                  </a>
                </li>
              </ul>
            </li>
            <!--<li tabindex="0" autoCloseItem id="menu-list-2" class="menu-list"
                (click)="OnShowMenuListItem('menu-list-2')">
              <a>
                <i class="metismenu-icon fa fa-paperclip"></i>
                Examination
                <i class="metismenu-state-icon pe-7s-angle-down fa fa-caret-down"></i>
              </a>
              <ul class="mm-collapse">
                <li>
                  <a (click)="OnSemesterTranscriptClicked()">
                    <i class="metismenu-icon">
                    </i>Semester Transcript
                  </a>
                </li>
                <li>
                  <a (click)="OnCompleteTranscriptClicked()">
                    <i class="metismenu-icon">
                    </i>Compelete Transcript
                  </a>
                </li>
                <li>
                  <a (click)="OnDateSheetClicked()">
                    <i class="metismenu-icon">
                    </i>Date Sheet
                  </a>
                </li>
              </ul>
            </li>-->
            <!--<li tabindex="0" autoCloseItem id="menu-list-3" class="menu-list">
              <a>
                <i class="metismenu-icon fa fa-book-open"></i>Semester Courses<i
                class="metismenu-state-icon pe-7s-angle-down fa fa-caret-down"></i>
              </a>
              <ul class="mm-collapse">
                <li
                  *ngFor="let course of this.semesterCourses;"
                  (click)="OnCourseClicked()"
                ><a><i class="metismenu-icon"></i>{{course.courseTitle}}</a></li>
              </ul>
            </li>-->
            <li (click)="OnAttendanceClicked()">
              <a>
                <i class="metismenu-icon fa fa-book "></i>
                Attendance
              </a>
            </li>
            <li (click)="OnViewStudentProfileClicked()">
              <a>
                <i class="metismenu-icon fa fa-user-graduate "></i>
                View Student Profile
              </a>
            </li>
            <li class="app-sidebar__heading">Help</li>
            <li>
              <a (click)="OncourseUploadClicked()">
                <i class="metismenu-icon fa fa-cloud-upload-alt">
                </i>Course Upload
              </a>
            </li>

            <!--Student Queries-->
            <!--<li tabindex="0" autoCloseItem id="menu-list-2" class="menu-list"
                (click)="OnShowMenuListItem('menu-list-2')">
              <a>
                <i class="metismenu-icon fa fa-paperclip"></i>
                Student Queries
                <i class="metismenu-state-icon pe-7s-angle-down fa fa-caret-down"></i>
              </a>
              <ul class="mm-collapse">
                <li>
                  <a (click)="OnQueriesClicked()">
                    <i class="metismenu-icon">
                    </i>Queries
                  </a>
                </li>
                <li>
                  <a (click)="OnAnswerQueriesClicked()">
                    <i class="metismenu-icon">
                    </i>Answer Queries
                  </a>
                </li>
              </ul>
            </li>-->
            <li>
              <a (click)="OnStudentQueriesClicked()">
                <i class="metismenu-icon fa fa-question">
                </i>Student Queries
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="app-main__outer">
      <div class="app-main__inner">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

  <app-alert *ngIf="showResetForm" (close)="onCloseResetForm()"></app-alert>
</div>

