<div class="card" [@SlideInFromLeft]>
  <div class="card-header">Create Attendance</div>
  <div class="card-body">
    <div class="row p-lg-0">
  <div class="col-sm-12 col-lg-4">
    <form #form='ngForm' (ngSubmit)="OnSubmit(form)">
      <div class="form-group">
        <label for="courses">Course:</label>
        <select #c (change)="OnCourseChange(c)" id="courses" class="form-control" name="courses" ngModel>
          <option *ngFor="let course of courses">{{course.courseTitle}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="section">Section:</label>
        <select #s id="section" class="form-control" name="section" ngModel>
          <option *ngFor="let section of sections">{{section.sectionTitle}}</option>
        </select>
      </div>
      <button class="btn btn-sm btn-primary" [disabled]="form.invalid" type="submit">Create Attendance
      </button>
    </form>
  </div>
  <div class="col-sm-12 col-lg-8 p-2 mt-sm-5 mt-lg-0">
    <div class="card text-left">
      <div class="card-header"><i class="fa fa-chart-line">Attendance Table</i></div>
      <div class="card-body" style="max-height: 40rem; overflow: hidden;overflow-y: scroll">
        <table class="table table-no-bordered table-borderless bg-light m-0 p-0">
          <thead>
          <tr>
            <th>Attendance Status</th>
            <th>Roll No</th>
            <th>Name</th>
            <th>Date</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let std of students;let i = index">
            <td>
              <!--<div class="form-check" style="margin-top: -15px">
                <label class="form-check-label">
                  <input #tog type="checkbox" class="form-check-input" (click)="OnToggle({toggle:tog, std:std})" name=""
                         id="{{std.ROLNO}}-attendanceStatus" value="checkedValue" checked>
                </label>
              </div>-->
              <div class="custom-control custom-switch form-group">
                <input #attendanceToggle type="checkbox"
                       class="custom-control-input"
                       ngModel
                       [defaultChecked]="true"
                       name="{{std.ROLNO}}-attendanceStatus"
                       (change)="OnToggle({toggle:attendanceToggle, std:std})"
                       id="{{'attendanceStatus-' + i}}">
                <label class="custom-control-label" for="{{'attendanceStatus-' + i}}" ></label>
              </div>
            </td>
            <td>{{std.ROLNO}}</td>
            <td>{{std.NM}}</td>
            <td>{{date.getMonth() + 1}}-{{date.getDate()}}-{{this.date.getFullYear()}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
  </div>
</div>
