<div class="row mt-5 p-3 p-lg-0">
  <div class="col-sm-12 col-lg-4 p-2">
    <form #form='ngForm' (ngSubmit)="OnSubmit(form)">
      <div class="form-group">
        <label for="courses">Course:</label>
        <select id="courses" class="form-control shadow-sm" name="courses" ngModel required>
          <option *ngFor="let course of courses">{{course.courseTitle}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="section">Section:</label>
        <select id="section" class="form-control shadow-sm" name="section" ngModel required>
          <option *ngFor="let section of sections">{{section.sectionTitle}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="lecturetitle">Lecture Title:</label>
        <input type="text"
               class="form-control shadow-sm" name="lecturetitle" id="lecturetitle" aria-describedby="helpId"
               placeholder="Presentation title" ngModel required>
      </div>
      <button class="btn btn-sm btn-primary shadow-sm" type="submit">Create Attendance</button>
    </form>
  </div>
  <div class="col-sm-12 col-lg-8 p-2 mt-sm-5 mt-lg-0">
    <div class="card text-left shadow">
      <div class="card-header"><i class="fa fa-chart-line">Attendance Table</i></div>
      <div class="card-body" style="max-height: 40rem; overflow: hidden;overflow-y: scroll">
        <table class="table table-no-bordered table-borderless bg-light m-0 p-0">
          <thead>
          <tr>
            <th>Roll No</th>
            <th>Name</th>
            <th>Date</th>
            <th>Attendance Status</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>0000-BSCS-16</td>
            <td>Adnan</td>
            <td>5/5/2020</td>
            <td>
              <div class="custom-control custom-switch form-group">
                <input type="checkbox"
                       class="custom-control-input"
                       ngModel
                       name="attendanceStatus"
                       [defaultChecked]
                       id="attendanceStatus">
                <label class="custom-control-label" for="attendanceStatus"></label>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

