<div class="row mt-5 p-3 p-lg-0" [@SlideInFromLeft]>
  <div class="col-sm-12 col-lg-4 p-2">
    <form #form='ngForm' (ngSubmit)="OnSubmit(form)">
      <div class="form-group">
        <label for="courses">Course:</label>
        <select #c (change)="OnCourseChange(c)" id="courses" class="form-control shadow-sm" name="courses" ngModel>
          <option *ngFor="let course of courses">{{course.courseTitle}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="section">Section:</label>
        <select #s id="section" class="form-control shadow-sm" name="section" ngModel>
          <option *ngFor="let section of sections">{{section.sectionTitle}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="lecturetitle">Lecture Title:</label>
        <input type="text"
               class="form-control shadow-sm" name="lecturetitle" id="lecturetitle" aria-describedby="helpId"
               placeholder="Presentation title" ngModel required>
      </div>
      <button class="btn btn-sm btn-primary shadow-sm" [disabled]="form.invalid" type="submit">Create Attendance
      </button>
    </form>
  </div>
  <div class="col-sm-12 col-lg-8 p-2 mt-sm-5 mt-lg-0">
    <div class="card text-left shadow">
      <div class="card-header"><i class="fa fa-chart-line">Attendance Table</i></div>
      <div class="card-body" style="max-height: 40rem; overflow: hidden;overflow-y: scroll">
        <table class="table table-no-bordered table-borderless bg-light m-0 p-0">
          <thead>
          <tr>
            <th>Roll No</th>
            <!--            <th>Name</th>-->
            <th>Date</th>
            <th>Attendance Status</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let std of students">
            <td>{{std.ROLNO}}</td>
            <!--            <td>-&#45;&#45;&#45;&#45;No Name in Reply&#45;&#45;&#45;&#45;&#45;&#45;</td>-->
            <td>{{date.getDate()}}-{{date.getMonth()}}-{{this.date.getFullYear()}}</td>
            <td>
              <div class="form-check">
                <label class="form-check-label">
                  <input #tog type="checkbox" class="form-check-input" (click)="OnToggle({toggle:tog, st:std})" name=""
                         id="{{std.ROLNO}}-attendanceStatus" value="checkedValue" checked>
                </label>
              </div>
              <!--<div class="custom-control custom-switch form-group">
                <input #attendanceToggle type="checkbox"
                       class="custom-control-input"
                       ngModel
                       name="{{std.ROLNO}}-attendanceStatus"
                       [defaultChecked]
                       (change)="OnToggle(std)"
                       id="attendanceStatus">
                <label class="custom-control-label" [htmlFor]="std.ROLNO+'-attendanceStatus'"></label>
              </div>-->
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

