<div class="backdrop">
  <div class="row">
    <div class="col-sm-6 offset-sm-3 ml-2 mr-2 ml-sm-auto mr-sm-auto">
      <div class="alert-box">
        <form #form='ngForm' action="" class="clearfix" (ngSubmit)="OnChangeClicked(form)">
          <div class="form-group mb-4">
            <label for="inputOldPassword">OldPassword</label>
            <input type="password"
                   class="form-control" ngModel name="oldpass" id="inputOldPassword">


          </div>
          <div class="form-group mb-4">
            <label for="inputNewPassword">NewPassword</label>
            <input type="password"
                   class="form-control" ngModel name="newpass" id="inputNewPassword">
          </div>
          <button class="btn btn-danger float-right" type="submit">Change</button>
          <button class="btn btn-outline-secondary float-right mr-2" (click)="onClose()">Close</button>
          <div class="text-info">{{msg}}</div>
        </form>
      </div>
    </div>
  </div>
</div>
