<div class="row mt-5" [@SlideInFromLeft]>
  <div class="col-sm-12 col-lg-4 p-2">
    <form (ngSubmit)="OnSubmit()">
      <div class="form-group">
        <label for="course">Course:</label>
        <select #c class="form-control shadow-sm" (change)="OnCourseChange(c)"
                name="course"
                id="course"
                ngModel>
          <option *ngFor="let course of courses">{{course.courseTitle}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="section" class="text-bold"><h5>Section:</h5></label>
        <select #s class="form-control shadow-sm"
                name="section"
                id="section"
                ngModel>
          <option *ngFor="let section of sections">{{section.sectionTitle}}</option>
        </select>
      </div>
      <style>

        .lift-animation {
          box-shadow: 3px 3px 10px grey;
        }

        .lift-animation:hover {
          box-shadow: 6px 6px 20px grey;
          transition: .4s;
        }
      </style>
      <div class="form-group">
        <label for="lecInput">Date:</label>
        <input #d type="date" class="form-control shadow-sm" name="date" id="lecInput" aria-describedby="helpId">
      </div>
      <button class="btn btn-sm btn-primary">Get Attendance</button>
    </form>
  </div>
  <div class="col-sm-12 col-lg-8 p-2 mt-sm-5 mt-lg-0">
    <div class="card text-left shadow">
      <div class="card-header bg-light"><i class="fa fa-chart-line">Attendance Report</i></div>
      <div class="card-body" style="max-height: 40rem; overflow: hidden;overflow-y: scroll; overflow-x: scroll">
        <table class="table table-bordered bg-light m-0 p-0">
          <thead>
          <tr>
            <th>Roll No</th>
            <th>Date</th>
            <th>Status</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let std of students">
            <td>{{std.ROLNO}}</td>
            <td>{{this.dateInput.nativeElement.value}}</td>
            <td *ngIf="(std.ATTEND == 'p')"><span class="badge badge-success">Present</span></td>
            <td *ngIf="(std.ATTEND == 'a')"><span class="badge badge-danger">Absent</span></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <br>
  </div>
</div>
