<div class="row mt-5" [@SlideInFromLeft]>
  <div class="col-sm-12 col-lg-4 p-2">
    <form #form='ngForm' (ngSubmit)="OnSubmit(form)">
      <div class="form-group">
        <label for="courses">Course:</label>
        <select id="courses" class="form-control shadow-sm" name="courses" ngModel required>
          <option *ngFor="let course of courses">{{course.courseTitle}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="section">Section:</label>
        <select id="section" class="form-control shadow-sm" name="section" ngModel required>
          <option *ngFor="let section of sections">{{section.sectionTitle}}</option>
        </select>
      </div>
      <button class="btn btn-sm btn-outline-primary" type="submit">Filter</button>
      <style>

        .lift-animation {
          box-shadow: 3px 3px 10px grey;
        }

        .lift-animation:hover {
          box-shadow: 6px 6px 20px grey;
          transition: .4s;
        }
      </style>
    </form>
  </div>
  <div class="col-sm-12 col-lg-8 p-2 mt-sm-5 mt-lg-0">
    <div class="card text-left shadow">
      <div class="card-header bg-light"><i class="fa fa-chart-line">Presentation Table</i></div>
      <div class="card-body" style="max-height: 40rem; overflow: hidden;overflow-y: scroll">
        <table class="table table-no-bordered table-borderless bg-light m-0 p-0">
          <thead>
          <tr>
            <th>Roll No</th>
            <th>Name</th>
            <th class="text-center">Download</th>
            <th class="text-center">Marks Obtained/{{totalMarks}}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let r of studentsFinaltermTable">
            <td>{{r.rollNo}}</td>
            <td>{{r.name}}</td>
            <td class="text-center">
              <button class="download" [disabled]='!r.downloadPath'><i class="fa fa-download"></i></button>
            </td>
            <td class="text-center">
              <input type="number" value="{{r.marks_obtained}}">
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
