<div class="row" [@SlideInFromLeft]>
  <div class="col-lg-6">
    <div class="mb-3 card shadow-lg">
      <div class="card-header">
        Personal Information
      </div>
      <div class="card-body">
        <div class="mt-2" style="border: 1px solid #939393; margin-top: 2px">
          <div class="bg-light p-2" style="display: flex;justify-content: space-between">
            <span class="ml-2">Designation</span>
            <span class="mr-2">{{ this.teacherInformation.DES }}</span>
          </div>
        </div>
        <div class="mt-2" style="margin-top: 2px">
          <div class="p-2" style="display: flex;justify-content: space-between">
            <span class="ml-2">Teacher Name:</span>
            <span class="mr-2">{{ this.teacherInformation.NM }}</span>
          </div>
        </div>
        <div class="mt-2" style="border: 1px solid #939393; margin-top: 2px">
          <div class="bg-light p-2" style="display: flex;justify-content: space-between">
            <span class="ml-2">CNIC:</span>
            <span class="mr-2">{{ this.teacherInformation.NIC }}</span>
          </div>
        </div>
        <div class="mt-2" style="margin-top: 2px">
          <div class=" p-2" style="display: flex;justify-content: space-between">
            <span class="ml-2">Phone No::</span>
            <span class="mr-2">{{ this.teacherInformation.PH1 }}</span>
          </div>
        </div>
        <div class="mt-2" style="border: 1px solid #939393; margin-top: 2px">
          <div class="bg-light p-2" style="display: flex;justify-content: space-between">
            <span class="ml-2">City</span>
            <span class="mr-2">{{ this.teacherInformation.ADD1 }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
