<div class="backdrop">
  <div class="row">
    <div class="col-sm-6 offset-sm-3 ml-2 mr-2 ml-sm-auto mr-sm-auto">
      <div class="alert-box">
        <form action="" class="clearfix">
          <div class="form-group mb-4">
            <label for="inputUserName">UserName/Email</label>
            <input type="text"
                   class="form-control" name="" id="inputUserName">
          </div>

          <button class="btn btn-danger float-right">Submit</button>
          <button class="btn btn-outline-secondary float-right mr-2" type="submit" (click)="onClose()">Close</button>
        </form>
      </div>
    </div>
  </div>
</div>
