<div class="container" [@SlideInFromLeft]>
  <div class="row mt-1">
    <div class="col-sm-12 col-lg-6 p-2">
      <div class="card shadow-sm">
        <div class="card-header">
          Upload Course
        </div>
        <div class="card-body">
          <div class="alert alert-danger d-flex justify-content-between" *ngIf="show" (click)="onClose()">
            Invalid Input
            <button class="btn btn-danger">Close</button>
          </div>
          <form #form="ngForm">
            <div class="form-group">
              <label for="course" >Courses:</label>
              <select #c class="form-control shadow-sm" (change)="OnCourseChange(c)"
                      name="course"
                      id="course"
                      ngModel>
                <option *ngFor="let course of courses">{{course.courseTitle}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="section">Section:</label>
              <select #s class="form-control shadow-sm"
                      name="section"
                      id="section"
                      ngModel>
                <option *ngFor="let section of sections">{{section.sectionTitle}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="section">Upload Type:</label>
              <select #type class="form-control shadow-sm"
                      name="section"
                      id="type"
                      ngModel>
                <option value="material">Course-Material</option>
                <option value="outline">Course-Outline</option>
              </select>
            </div>
            <div class="form-group">
              <label for="title" >Title:</label>
              <input #title type="text"
                     class="form-control shadow-sm"
                     name="title"
                     id="title"
                     aria-describedby="helpId"
                     placeholder="Title of Upload"
                     ngModel
                     required>
              <small id="helpId" class="form-text text-muted">Title of upload</small>
            </div>
            <div class="form-group">
              <label for="filePath">File:</label>
              <input type="file" class="form-control-file" name="filePath" id="filePath"
                     placeholder="Attach file"
                     aria-describedby="fileHelpId"
                     ngModel
                     required
                     (change)="getFileDetails($event)">
              <small id="fileHelpId" class="form-text text-muted"><i class="fa fa-sm fa-file"></i> select file to be
                uploaded</small>
            </div>
            <style>

              .lift-animation {
                box-shadow: 3px 3px 5px grey;
                transition: .2s ease-in-out;
              }

              .lift-animation:hover {
                box-shadow: 5px 5px 10px grey;
                transition: .2s ease-in-out;
              }
            </style>
            <button class="btn btn-primary btn-sm" type="submit"
                    (click)="uploadFiles()">Upload Course</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
