<!--Adjusted columns in this file for form-->
<div class="p-lg-5 mt-5 p-sm-3">
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="alert alert-danger d-flex justify-content-between" *ngIf="show" (click)="onClose()">
      Invalid Input
      <button class="btn btn-danger">Close</button>
    </div>
    <div class="row">
      <div class="col-sm-12 col-lg-6">
        <div class="form-group">
          <label for="InputRegistration" class="text-bold">Registration#</label>
          <input type="text"
                 class="form-control shadow-sm"
                 name="InputRegistration"
                 id="InputRegistration"
                 ngModel
                 required
                 placeholder="">
        </div>
        <div class="form-group">
          <label for="InputStudentName" class="text-bold">Student Name</label>
          <input type="text"
                 class="form-control shadow-sm"
                 name="InputStudentName"
                 id="InputStudentName"
                 ngModel
                 required
                 placeholder="">
        </div>
        <div class="form-group">
          <label for="InputContactNo" class="text-bold">Contact-No</label>
          <input type="tel"
                 class="form-control shadow-sm"
                 name="InputContactNo"
                 id="InputContactNo"
                 required
                 ngModel
                 placeholder="+92-XXX-XXXXXXX">
        </div>
        <div class="form-group">
          <label for="InputEmail" class="text-bold">Email</label>
          <input type="email"
                 class="form-control shadow-sm"
                 name="InputEmail"
                 id="InputEmail"
                 ngModel
                 placeholder="">
        </div>
      </div>
      <div class="col-sm-12 col-lg-6" style="margin-bottom: 50px">

        <div class="form-group">
          <label for="inputComplaint" class="text-bold">Complaint related to</label>
          <select class="form-control shadow-sm"
                  name="inputComplaint"
                  id="inputComplaint"
                  ngModel>
            <option>Faculty</option>
            <option>Department</option>
            <option>Staff</option>
            <option>Harassment</option>
            <option>Other</option>
          </select>
        </div>
        <div class="form-group">
          <label for="inputComplaintDetails" class="text-bold">Complaint Details</label>
          <textarea class="form-control shadow-sm"
                    name="inputComplaintDetails"
                    id="inputComplaintDetails"
                    ngModel
                    required
                    rows="5"></textarea>
        </div>
        <div class="form-group">
          <label class="text-bold mt-2">Complaint Document</label>
          <div class="input-group">
            <div class="custom-file">
              <input type="file"
                     class="custom-file-input"
                     id="inputGroupFile01"
                     name="inputComplaintDocument"
                     ngModel
                     aria-describedby="inputGroupFileAddon01">
              <label class="custom-file-label shadow-sm" for="inputGroupFile01">Choose file</label>
            </div>
          </div>
        </div>
        <div class="mt-5 custom-control custom-switch form-group">
          <input type="checkbox"
                 class="custom-control-input"
                 ngModel
                 name="inputRevealIdentity"
                 id="customSwitch1">
          <label class="custom-control-label" for="customSwitch1">Reveal Identity</label>
        </div>
        <br>
        <b>Terms of use</b>
        <br>
        <p class="p mt-1">I hereby accept that all provided information is true and can be use for any further
          investigation as per the GCU Code of conduct.</p>
        <div class="custom-control custom-checkbox form-group">
          <input type="checkbox"
                 class="custom-control-input"
                 name="inputAgreement"
                 ngModel
                 id="customCheck1">
          <label class="custom-control-label text-bold" for="customCheck1">I agree to terms and conditions</label>
        </div>
        <button class="btn btn-primary lift-animation mt-4 float-right" type="submit" [disabled]="!form.valid">Upload</button>
      </div>
    </div>
  </form>
</div>

