.text-bold{
  /*text-shadow: 1px 1px 0px #b3b3b3;*/
  font-weight: bold;
}

.lift-animation{
  box-shadow: 3px 3px 10px grey;
  transition: .4s;
}
.lift-animation:hover{
  box-shadow: 6px 6px 20px grey;
  transform: translate(0,-3px);
}
.lift-animation:focus{
  transform: translate(0,3px);
}
label.text-bold{
  font-size: 1rem;
}
