<div class="row">
  <div class="col-sm-12">
    <div class="card shadow">
      <div class="card-header">
        Date-Sheet
      </div>
      <div class="card-body">
        <table class="table table-bordered">
          <thead class="bg-light">
          <tr>
            <th>Date</th>
            <th>Day</th>
            <th>Time</th>
            <th>Semester</th>
          </tr>
          </thead>
          <tbody>
          <tr
            *ngFor="let subjectDateSheet of this.subjects.subjects;">
            <td scope="row">{{subjectDateSheet.date}}</td>
            <td>{{subjectDateSheet.day}}</td>
            <td>{{subjectDateSheet.time}}</td>
            <td>{{subjectDateSheet.courseName}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
